/* Write your CSS here! */
/* body {
  background-color: #b8acd1;
  align-items: center;
  display: flex;
  flex-direction: column;

}

section {
  background-color: #f6f2fa;
  display: flex;
  margin: 0.5em;
  width: 40em;
  justify-content: space-evenly;
}

#test2 {
  justify-content: space-evenly;
  background-color: red;
}
 */
